html, body, #root {
  height: 100%;
  margin: 0;
}
.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: rgb(16, 9, 19);
  background: linear-gradient(58deg, rgba(42,22,50,1) 0%, rgba(29,35,48,1) 100%);
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
}
header {
  color: white;
  text-align: center;
}
header h1 {
  font-size: 30px;
}
header p {
  font-size: 20px;
}
.content {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
  padding: 5%;
  width: auto;
  height: auto;
  border-width: 1px;
  border-radius: 25px;
  background: rgb(112,55,136);
  background: linear-gradient(58deg, rgba(112,55,136,1) 0%, rgb(40, 47, 63) 100%);
  color: white;
}
.content p {
  width: 100%;
  display: inline;
}
.selected {
  margin: 10px;
  background-color: rgb(146, 113, 160);
  color: white;
  border-radius: 5px;
  font-size: 25px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
option {
  color: rgb(255, 255, 255);
  font-size: 20px;
}
@media (max-height: 500px) {
  .App {
    height: auto;
  }
}